{
  "openapi": "3.1.0",
  "info": {
    "title": "Rushomon URL Shortener API",
    "description": "API documentation for the Rushomon URL shortener service.\n\n## Authentication\n\nMost endpoints require authentication using either:\n- **Session cookies** (for web application users)\n- **Bearer tokens** (for API keys)\n\n### Using API Keys\n\n1. Create an API key in the dashboard (Pro tier or higher required)\n2. Include the key in the Authorization header:\n   ```\n   Authorization: Bearer ro_pat_...\n   ```\n## Response Format\n\nAll responses are JSON formatted. Error responses follow this structure:\n```json\n{\n  \"error\": \"Error message describing what went wrong\"\n}\n```\n\n## Pagination\n\nList endpoints support pagination with `page` and `limit` query parameters:\n- `page`: Page number (1-indexed, default: 1)\n- `limit`: Items per page (1-100, default: 20)\n",
    "contact": {
      "name": "Rushomon Support",
      "email": "support@rushomon.cc"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    },
    "version": "0.9.0"
  },
  "servers": [
    {
      "url": "https://api.rushomon.cc",
      "description": "Production API"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/admin/api-keys": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List all API keys",
        "operationId": "handle_admin_list_api_keys",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of API keys"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/api-keys/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Revoke an API key",
        "operationId": "handle_admin_revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/api-keys/{id}/delete": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Soft-delete an API key",
        "operationId": "handle_admin_delete_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/api-keys/{id}/reactivate": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Reactivate an API key",
        "operationId": "handle_admin_reactivate_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key reactivated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/api-keys/{id}/restore": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Restore a deleted API key",
        "operationId": "handle_admin_restore_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key restored"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List billing accounts",
        "operationId": "handle_admin_list_billing_accounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by owner email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tier",
            "in": "query",
            "description": "Filter by tier",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of billing accounts"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get billing account details",
        "operationId": "handle_admin_get_billing_account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Billing account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing account details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts/{id}/reset": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Reset billing account to free tier",
        "operationId": "handle_admin_reset_billing_account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Billing account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing account reset to free"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "Billing account not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts/{id}/reset-counter": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Reset billing account monthly counter",
        "operationId": "handle_admin_reset_monthly_counter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Billing Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Counter reset"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts/{id}/subscription": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update subscription status",
        "operationId": "handle_admin_update_subscription_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Billing account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription status updated"
          },
          "400": {
            "description": "Missing status"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "No subscription found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/billing-accounts/{id}/tier": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update billing account tier",
        "operationId": "handle_admin_update_billing_account_tier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Billing account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tier updated"
          },
          "400": {
            "description": "Invalid tier"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/blacklist": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List blacklisted destinations",
        "operationId": "handle_admin_get_blacklist",
        "responses": {
          "200": {
            "description": "Array of blacklist entries"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Block a destination",
        "operationId": "handle_admin_block_destination",
        "responses": {
          "200": {
            "description": "Destination blocked"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/blacklist/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Remove blacklist entry",
        "operationId": "handle_admin_remove_blacklist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blacklist entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry removed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/cron/downgrade": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Trigger subscription downgrade job",
        "description": "Manually triggers the expired-subscription downgrade cron job. Downgrades all billing accounts whose subscriptions have expired to the Free tier",
        "operationId": "handle_cron_trigger_downgrade",
        "responses": {
          "200": {
            "description": "Downgrade job completed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/discounts": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List Polar discounts",
        "operationId": "handle_admin_list_discounts",
        "responses": {
          "200": {
            "description": "Discounts from Polar"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "503": {
            "description": "Billing not configured"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/links": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List all links (admin)",
        "operationId": "handle_admin_list_links",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "org",
            "in": "query",
            "description": "Filter by org ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by creator email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Filter by destination domain",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of all links with KV sync status"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/links/{id}": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update link status",
        "operationId": "handle_admin_update_link_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated"
          },
          "400": {
            "description": "Invalid status value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Hard delete a link",
        "operationId": "handle_admin_delete_link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/links/{id}/sync-kv": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Re-sync link KV entry",
        "operationId": "handle_admin_sync_link_kv",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KV entry synced"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/products": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List Polar products",
        "operationId": "handle_admin_list_products",
        "responses": {
          "200": {
            "description": "Products from Polar"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "503": {
            "description": "Billing not configured"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/products/save": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Sync and cache products from Polar",
        "description": "Fetches products from Polar and replaces the local cached_products table",
        "operationId": "handle_admin_save_products",
        "responses": {
          "200": {
            "description": "Products cached in database"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "503": {
            "description": "Billing not configured"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/products/sync": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Sync products from Polar",
        "description": "Fetches the product list from the Polar API (dry-run: no database write)",
        "operationId": "handle_admin_sync_products",
        "responses": {
          "200": {
            "description": "Products fetched from Polar"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "503": {
            "description": "Billing not configured"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/reports": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List abuse reports",
        "operationId": "handle_admin_get_reports",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (10-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: pending, reviewed, dismissed",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of reports"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/reports/pending/count": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get pending reports count",
        "operationId": "handle_admin_get_pending_reports_count",
        "responses": {
          "200": {
            "description": "Count of pending reports"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/reports/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get a single abuse report",
        "operationId": "handle_admin_get_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "Report not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update report status",
        "operationId": "handle_admin_update_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report updated"
          },
          "400": {
            "description": "Invalid status"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get system settings",
        "operationId": "handle_admin_get_settings",
        "responses": {
          "200": {
            "description": "Key-value map of all settings"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update a system setting",
        "operationId": "handle_admin_update_setting",
        "responses": {
          "200": {
            "description": "Updated settings map"
          },
          "400": {
            "description": "Unknown or invalid setting value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List all users",
        "operationId": "handle_admin_list_users",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get a user",
        "operationId": "handle_admin_get_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update user role",
        "operationId": "handle_admin_update_user_role",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated user"
          },
          "400": {
            "description": "Invalid role or cannot demote last admin"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a user",
        "operationId": "handle_admin_delete_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "400": {
            "description": "Cannot delete self or last org admin"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/users/{id}/suspend": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Suspend a user",
        "operationId": "handle_admin_suspend_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User suspended"
          },
          "400": {
            "description": "Cannot suspend self or last admin"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/admin/users/{id}/unsuspend": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Unsuspend a user",
        "operationId": "handle_admin_unsuspend_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unsuspended"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Admin required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/analytics/org": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get org-level analytics",
        "description": "Returns aggregate click analytics for the entire organization. Includes total clicks, unique links clicked, clicks over time, top links, referrers, countries, and user agents. The time range is capped by tier retention (7 days Free, 365 days Pro, unlimited Business/Unlimited)",
        "operationId": "handle_get_org_analytics",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back (default: 7)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Unix timestamp range start (alternative to days)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Unix timestamp range end",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org analytics response with clicks, top links, referrers, countries, and user agents"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/auth/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "OAuth callback",
        "description": "Handles the OAuth provider callback. Validates the state parameter, exchanges the authorization code for tokens, creates or updates the user, issues a session cookie, and redirects to the dashboard",
        "operationId": "handle_oauth_callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code from the OAuth provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "OAuth state parameter for CSRF protection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to dashboard with session cookie set"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "OAuth state validation failed"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Initiate GitHub OAuth",
        "description": "Redirects the user to GitHub to begin the OAuth 2.0 authorization flow",
        "operationId": "handle_github_login",
        "responses": {
          "302": {
            "description": "Redirect to GitHub authorization URL"
          },
          "404": {
            "description": "GitHub OAuth not configured"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/auth/google": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Initiate Google OAuth",
        "description": "Redirects the user to Google to begin the OAuth 2.0 authorization flow",
        "operationId": "handle_google_login",
        "responses": {
          "302": {
            "description": "Redirect to Google authorization URL"
          },
          "404": {
            "description": "Google OAuth not configured"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Deletes the server-side session and clears all auth cookies (access token, refresh token, legacy session)",
        "operationId": "handle_logout",
        "responses": {
          "200": {
            "description": "Logged out successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get current user",
        "description": "Returns information about the currently authenticated user",
        "operationId": "handle_get_current_user",
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/auth/providers": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List enabled OAuth providers",
        "description": "Returns the list of OAuth providers configured and enabled on this instance",
        "operationId": "handle_list_auth_providers",
        "responses": {
          "200": {
            "description": "List of enabled providers"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "description": "Validates the refresh token from the httpOnly cookie and issues a new short-lived access token. Rate limited to 30 requests per hour per session",
        "operationId": "handle_token_refresh",
        "responses": {
          "200": {
            "description": "Access token refreshed, new cookie set"
          },
          "401": {
            "description": "Missing, invalid, or expired refresh token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/auth/switch-org": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Switch active organization",
        "description": "Switches the authenticated user's active organization context. Re-issues a new access token (and refresh token) scoped to the chosen org. The user must be a member of the target org",
        "operationId": "handle_switch_org",
        "responses": {
          "200": {
            "description": "Switched, new access token set in cookies"
          },
          "400": {
            "description": "Missing or invalid org_id"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member of the target org"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/billing/checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create checkout session",
        "description": "Creates a Polar Checkout session for the given product/price ID and returns the hosted checkout URL. Optionally accepts a discount code. The caller must be the billing account owner",
        "operationId": "handle_create_checkout",
        "responses": {
          "200": {
            "description": "Checkout URL"
          },
          "400": {
            "description": "Missing product_id or invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Polar API error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Get customer portal URL",
        "description": "Generates a Polar Customer Portal URL for the authenticated user. The frontend should redirect the user to the returned URL to manage their subscription, payment methods, and invoices",
        "operationId": "handle_portal",
        "responses": {
          "200": {
            "description": "Portal URL"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No billing account or customer ID found"
          },
          "502": {
            "description": "Polar API error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/billing/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing status",
        "description": "Returns the billing account tier, active subscription details (status, period end, cancel-at-period-end), and whether the caller is the billing owner. Auto-creates a billing account for new users if one does not exist",
        "operationId": "handle_get_status",
        "responses": {
          "200": {
            "description": "Billing status object"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/billing/webhook": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Polar webhook receiver",
        "description": "Receives and processes Polar webhook events (subscription created/updated/cancelled, order created). Verifies the webhook signature before processing. Returns 200 for success or known-skip, 400 for malformed payloads, 503 for transient failures",
        "operationId": "handle_webhook",
        "responses": {
          "200": {
            "description": "Event processed or intentionally skipped"
          },
          "400": {
            "description": "Invalid or malformed webhook payload"
          },
          "503": {
            "description": "Transient infrastructure failure"
          }
        }
      }
    },
    "/api/invite/{token}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get invite info",
        "description": "Validates an invitation token and returns the organization name and inviter details. Public endpoint — no authentication required. Used by the accept-invite page to show context before the user logs in",
        "operationId": "handle_get_invite_info",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Invitation token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation details"
          },
          "404": {
            "description": "Token not found, expired, or already accepted"
          }
        }
      }
    },
    "/api/invite/{token}/accept": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Accept an invitation",
        "description": "Accepts a pending invitation. Validates the token, verifies the caller's email matches the invited email, adds the user to the organization as the invited role, marks the invitation as accepted, and re-issues a new access token scoped to the new org",
        "operationId": "handle_accept_invite",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Invitation token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted, new access token set"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Caller email does not match invitation"
          },
          "404": {
            "description": "Invitation not found or already accepted"
          },
          "409": {
            "description": "Already a member of this org"
          },
          "410": {
            "description": "Invitation expired"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Returns all active API keys for the authenticated user. The raw token is never returned here — only the hint (last 4 chars)",
        "operationId": "handle_list_api_keys",
        "responses": {
          "200": {
            "description": "Array of active API keys"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Generates a new personal access token (PAT) for programmatic API access. The raw token is returned only once — copy it immediately. Requires Pro tier or higher",
        "operationId": "handle_create_api_key",
        "requestBody": {
          "description": "API key creation payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created with raw token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Plan does not support API keys"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "description": "Soft-deletes an API key owned by the authenticated user. Returns 204 on success",
        "operationId": "handle_revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Key not found or not owned by user"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "List links",
        "description": "Returns a paginated list of links for the authenticated organization",
        "operationId": "handle_list_links",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by title or URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: created_at, click_count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order: asc, desc",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of links"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Links"
        ],
        "summary": "Create a link",
        "description": "Creates a new short link for the authenticated organization. Respects monthly tier limits. Optionally accepts a custom short code (Pro+), UTM parameters (Pro+), tags, expiry, and redirect type",
        "operationId": "handle_create_link",
        "requestBody": {
          "description": "Link creation payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or URL"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Monthly link limit reached for current tier"
          },
          "409": {
            "description": "Short code already in use"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links/by-code/{code}": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Get a link by short code",
        "description": "Looks up a link by its short code instead of its internal ID",
        "operationId": "handle_get_link_by_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Short code of the link",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links/export": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Export links as CSV",
        "description": "Exports all active links for the authenticated organization as a CSV file. Returns a text/csv response with a Content-Disposition attachment header",
        "operationId": "handle_export_links",
        "responses": {
          "200": {
            "description": "CSV file download"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links/import": {
      "post": {
        "tags": [
          "Links"
        ],
        "summary": "Import links from CSV",
        "description": "Bulk-imports links from a CSV payload. Accepts a JSON array of rows parsed from CSV. Each row must have at least a destination_url. Returns counts of created, skipped (duplicate short codes), and failed rows",
        "operationId": "handle_import_links",
        "responses": {
          "200": {
            "description": "Import result with created/skipped/failed counts"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links/{id}": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Get a link",
        "description": "Returns details for a single link belonging to the authenticated organization",
        "operationId": "handle_get_link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Links"
        ],
        "summary": "Update a link",
        "description": "Updates a link's destination URL, title, tags, expiry, UTM parameters, redirect type, or forward-query-params setting. Use clear_expiration=true to remove the expiration date. Updates are written to both D1 and KV atomically",
        "operationId": "handle_update_link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Fields to update (all optional)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Links"
        ],
        "summary": "Delete a link",
        "description": "Soft-deletes a link belonging to the authenticated organization and removes its KV mapping so it stops redirecting",
        "operationId": "handle_delete_link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/links/{id}/analytics": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Get link analytics",
        "description": "Returns click analytics for a single link. The time range is capped according to the organization's tier retention window (7 days for Free, 365 days for Pro, unlimited for Business/Unlimited)",
        "operationId": "handle_get_link_analytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back (default: 7)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Unix timestamp range start (alternative to days)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Unix timestamp range end",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data for the link"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Link not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List user organizations",
        "description": "Returns all organizations the authenticated user belongs to, including their role in each org and the org's current billing tier. Also returns the active org_id from the current session",
        "operationId": "handle_list_user_orgs",
        "responses": {
          "200": {
            "description": "List of organizations with role and tier info"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create an organization",
        "description": "Creates a new organization for the authenticated user. The user becomes the owner. Respects tier organization limits",
        "operationId": "handle_create_org",
        "responses": {
          "200": {
            "description": "New organization"
          },
          "400": {
            "description": "Missing name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Org limit reached for current tier"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization",
        "description": "Returns org details including the member list with roles and pending invitations. The caller must be a member of the org",
        "operationId": "handle_get_org",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization with members and invitations"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member of this org"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Permanently deletes an organization. Requires owner role and the user must belong to at least one other org. Links can either be migrated to another org or deleted",
        "operationId": "handle_delete_org",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted"
          },
          "400": {
            "description": "Cannot delete last org or invalid migration target"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner required"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update organization",
        "description": "Renames an organization. Requires owner or admin role within the org",
        "operationId": "handle_update_org",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated organization"
          },
          "400": {
            "description": "Missing or empty name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/invitations": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Invite a member",
        "description": "Sends an email invitation to join the organization. Requires owner or admin role. Respects tier member limits. Sends an invitation email with a unique token",
        "operationId": "handle_create_invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation created and email sent"
          },
          "400": {
            "description": "Invalid email or missing fields"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required, or member limit reached"
          },
          "409": {
            "description": "Already a member or invitation pending"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/invitations/{invitation_id}": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Revoke an invitation",
        "description": "Cancels a pending invitation. Requires owner or admin role",
        "operationId": "handle_revoke_invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "description": "Invitation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required"
          },
          "404": {
            "description": "Invitation not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/invitations/{invitation_id}/resend": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Resend an invitation",
        "description": "Resends the invitation email for a pending invitation. Requires owner or admin role",
        "operationId": "handle_resend_invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "description": "Invitation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation email resent"
          },
          "400": {
            "description": "Invitation expired or accepted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required"
          },
          "404": {
            "description": "Invitation not found or already accepted"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/logo": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get org logo",
        "description": "Serves the organization logo from R2 storage. Public endpoint - no authentication required",
        "operationId": "handle_get_org_logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image"
          },
          "404": {
            "description": "No logo found for this org"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Upload org logo",
        "description": "Uploads an organization logo. Accepts multipart/form-data with a field named 'logo'. Max 500 KB. Accepted formats: image/png, image/jpeg, image/webp, image/svg+xml. Requires owner or admin role and Pro+ tier",
        "operationId": "handle_upload_org_logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo uploaded, returns the URL"
          },
          "400": {
            "description": "Missing file, too large, or unsupported format"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required, or Pro+ required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete org logo",
        "description": "Removes the organization logo from R2 storage. Requires owner or admin role and Pro+ tier",
        "operationId": "handle_delete_org_logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required, or Pro+ required"
          },
          "404": {
            "description": "No logo to delete"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/members/{user_id}": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Remove a member",
        "description": "Removes a user from the organization. Owners can remove anyone except the last owner. Admins can remove members but not owners. Any member can remove themselves",
        "operationId": "handle_remove_member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID to remove",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          },
          "400": {
            "description": "Cannot remove last owner"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          },
          "404": {
            "description": "Member not found"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/orgs/{id}/settings": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get org settings",
        "description": "Returns organization-level settings. The forward_query_params setting is only available on Pro+ tiers",
        "operationId": "handle_get_org_settings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org settings"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member of this org"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update org settings",
        "description": "Updates organization-level settings. forward_query_params requires Pro+ tier. Caller must be owner or admin",
        "operationId": "handle_update_org_settings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated settings"
          },
          "400": {
            "description": "Invalid setting value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner or admin required, or Pro+ required"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/reports/links": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Report a link for abuse",
        "description": "Submits an abuse report for a link. Accepts both authenticated and anonymous submissions. Duplicate reports for the same link, reason, and reporter within 24 hours are rejected",
        "operationId": "handle_report_link",
        "responses": {
          "200": {
            "description": "Report submitted successfully"
          },
          "400": {
            "description": "Missing required fields"
          },
          "404": {
            "description": "Link not found or already removed"
          },
          "422": {
            "description": "Link is already disabled"
          },
          "429": {
            "description": "Duplicate report within 24 hours"
          }
        }
      }
    },
    "/api/settings/public": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get public settings",
        "description": "Returns non-sensitive public settings needed by the frontend, including founder pricing status and active discount amounts for each plan tier",
        "operationId": "handle_get_public_settings",
        "responses": {
          "200": {
            "description": "Public settings object"
          }
        }
      }
    },
    "/api/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get organization tags",
        "description": "Returns all tags for the authenticated user's organization with usage counts, sorted by count desc then name asc",
        "operationId": "handle_get_org_tags",
        "responses": {
          "200": {
            "description": "List of tags with usage counts"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/tags/{name}": {
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Delete a tag",
        "description": "Deletes a tag from all links in the authenticated organization. Returns 204 No Content on success",
        "operationId": "handle_delete_org_tag",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Tag name to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted successfully"
          },
          "400": {
            "description": "Missing tag name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          },
          "500": {
            "description": "Failed to delete tag"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Tags"
        ],
        "summary": "Rename a tag",
        "description": "Renames a tag across all links in the authenticated organization. Returns the updated tag list",
        "operationId": "handle_rename_org_tag",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Current tag name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated tag list"
          },
          "400": {
            "description": "Missing or invalid new tag name"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get current usage",
        "description": "Returns the authenticated organization's tier, feature limits, current monthly link usage, tag count, and the date/time of the next monthly counter reset",
        "operationId": "handle_get_usage",
        "responses": {
          "200": {
            "description": "Usage and limits for the current org"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "session_cookie": []
          }
        ]
      }
    },
    "/api/version": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get application version",
        "description": "Returns the running application version, package name, build timestamp, and git commit hash",
        "operationId": "handle_version",
        "responses": {
          "200": {
            "description": "Version information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BillingAccount": {
        "type": "object",
        "description": "Billing Account represents the payment entity that owns one or more organizations.\nTier limits and quotas are enforced at the billing account level, not per-organization.\n\nThis prevents abuse where users could create multiple orgs to multiply their quotas.\nFor example:\n- Business tier ($29) = 10k links/month across ALL orgs in the billing account\n- Not 10k per org (which would be 30k for 3 orgs)",
        "required": [
          "id",
          "owner_user_id",
          "tier",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "ba_abc123def456"
          },
          "owner_user_id": {
            "type": "string",
            "example": "user-123456"
          },
          "tier": {
            "type": "string",
            "example": "pro"
          },
          "provider_customer_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Polar customer ID for the billing account",
            "example": "cust_abc123"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "example": 1609459200
          }
        }
      },
      "CountryCount": {
        "type": "object",
        "required": [
          "country",
          "count"
        ],
        "properties": {
          "country": {
            "type": "string",
            "example": "US"
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 25
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "My Production API Key"
          },
          "expires_in_days": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "example": 30
          }
        }
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "hint",
          "raw_token",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "key-123456"
          },
          "name": {
            "type": "string",
            "example": "My Production API Key"
          },
          "hint": {
            "type": "string",
            "example": "ro_pat_...abcd"
          },
          "raw_token": {
            "type": "string",
            "description": "The raw token - show this ONLY ONCE to the user",
            "example": "ro_pat_abc123def456ghi789jkl012mno345pq"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "example": 1609459200
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "example": 1612137600
          }
        }
      },
      "CreateLinkRequest": {
        "type": "object",
        "required": [
          "destination_url"
        ],
        "properties": {
          "destination_url": {
            "type": "string",
            "example": "https://example.com/very/long/url"
          },
          "short_code": {
            "type": [
              "string",
              "null"
            ],
            "example": "my-custom-code"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "example": "My Awesome Link"
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "example": 1640995200
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "example": [
              "marketing",
              "social"
            ]
          },
          "utm_params": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/UtmParams"
              }
            ]
          },
          "forward_query_params": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "redirect_type": {
            "type": "string",
            "description": "HTTP redirect type: 301 (permanent) or 307 (temporary).\nDefault is 301, available on Pro+ plans.",
            "example": "301"
          },
          "ios_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "iOS-specific destination URL (Business tier feature).",
            "example": "https://apps.apple.com/app/id123456789"
          },
          "android_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Android-specific destination URL (Business tier feature).",
            "example": "https://play.google.com/store/apps/details?id=com.example"
          },
          "desktop_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Desktop-specific destination URL (Business tier feature).",
            "example": "https://example.com/desktop-app"
          }
        },
        "additionalProperties": false
      },
      "DailyClicks": {
        "type": "object",
        "required": [
          "date",
          "count"
        ],
        "properties": {
          "date": {
            "type": "string",
            "example": "2024-01-15"
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 42
          }
        }
      },
      "Link": {
        "type": "object",
        "required": [
          "id",
          "org_id",
          "short_code",
          "destination_url",
          "created_by",
          "created_at",
          "status",
          "click_count",
          "tags",
          "redirect_type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "link-123456"
          },
          "org_id": {
            "type": "string",
            "example": "org-789"
          },
          "short_code": {
            "type": "string",
            "example": "abc123"
          },
          "destination_url": {
            "type": "string",
            "example": "https://example.com/very/long/url"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "example": "My Awesome Link"
          },
          "created_by": {
            "type": "string",
            "example": "user-123"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "example": 1609459200
          },
          "updated_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "example": 1609459300
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "example": 1640995200
          },
          "status": {
            "$ref": "#/components/schemas/LinkStatus"
          },
          "click_count": {
            "type": "integer",
            "format": "int64",
            "example": 42
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "marketing",
              "social"
            ]
          },
          "utm_params": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/UtmParams",
                "description": "UTM parameters baked into this link (Pro+ only)."
              }
            ]
          },
          "forward_query_params": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to forward visitor query params to the destination (Pro+ only).\nNone = use org default (resolved at KV write time)."
          },
          "redirect_type": {
            "type": "string",
            "description": "HTTP redirect type: 301 (permanent) or 307 (temporary).\nDefault is 301 for SEO, 307 available on Pro+ plans.",
            "example": "301"
          },
          "ios_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "iOS-specific destination URL (Business tier feature).\nRedirects iPhone/iPad users to this URL instead of the default.",
            "example": "https://apps.apple.com/app/id123456789"
          },
          "android_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Android-specific destination URL (Business tier feature).\nRedirects Android users to this URL instead of the default.",
            "example": "https://play.google.com/store/apps/details?id=com.example"
          },
          "desktop_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Desktop-specific destination URL (Business tier feature).\nRedirects desktop users (Windows, macOS, Linux) to this URL instead of the default.",
            "example": "https://example.com/desktop-app"
          }
        }
      },
      "LinkAnalyticsResponse": {
        "type": "object",
        "required": [
          "link",
          "total_clicks_in_range",
          "clicks_over_time",
          "top_referrers",
          "top_countries",
          "top_user_agents"
        ],
        "properties": {
          "link": {
            "$ref": "#/components/schemas/Link"
          },
          "total_clicks_in_range": {
            "type": "integer",
            "format": "int64",
            "example": 150
          },
          "clicks_over_time": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyClicks"
            }
          },
          "top_referrers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferrerCount"
            }
          },
          "top_countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryCount"
            }
          },
          "top_user_agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserAgentCount"
            }
          },
          "analytics_gated": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether analytics data is gated due to tier limits"
          },
          "gated_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Reason analytics are gated (e.g., \"click_limit_exceeded\", \"retention_limited\")"
          }
        }
      },
      "LinkStatus": {
        "type": "string",
        "enum": [
          "active",
          "disabled",
          "blocked"
        ]
      },
      "OrgAnalyticsResponse": {
        "type": "object",
        "required": [
          "total_clicks",
          "unique_links_clicked",
          "clicks_over_time",
          "top_links",
          "top_referrers",
          "top_countries",
          "top_user_agents"
        ],
        "properties": {
          "total_clicks": {
            "type": "integer",
            "format": "int64",
            "example": 1500
          },
          "unique_links_clicked": {
            "type": "integer",
            "format": "int64",
            "example": 75
          },
          "clicks_over_time": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyClicks"
            }
          },
          "top_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopLinkCount"
            }
          },
          "top_referrers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferrerCount"
            }
          },
          "top_countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryCount"
            }
          },
          "top_user_agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserAgentCount"
            }
          },
          "analytics_gated": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether analytics data is gated due to tier limits"
          },
          "gated_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Reason analytics are gated (e.g., \"click_limit_exceeded\", \"retention_limited\")"
          }
        }
      },
      "OrgInvitation": {
        "type": "object",
        "required": [
          "id",
          "org_id",
          "invited_by",
          "email",
          "role",
          "created_at",
          "expires_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "inv-123"
          },
          "org_id": {
            "type": "string",
            "example": "org-456"
          },
          "invited_by": {
            "type": "string",
            "example": "user-789"
          },
          "email": {
            "type": "string",
            "example": "newmember@example.com"
          },
          "role": {
            "type": "string",
            "example": "member"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "example": 1609459200
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "example": 1612137600
          },
          "accepted_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "OrgMember": {
        "type": "object",
        "required": [
          "org_id",
          "user_id",
          "role",
          "joined_at"
        ],
        "properties": {
          "org_id": {
            "type": "string",
            "example": "org-123"
          },
          "user_id": {
            "type": "string",
            "example": "user-456"
          },
          "role": {
            "type": "string",
            "example": "admin"
          },
          "joined_at": {
[...]
